{% extends "core/base.html" %}



<title>{%block title %}Contacto{% endblock %}</title>

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block header%}
  <h1>Contacto</h1>
  <h4 class="subheading">Asesoría</h4>
{% endblock%}  

{% block content%}
{% csrf_token %}
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Me puedes enviar un correo o encontrarme por las redes sociales enlazadas abajo. Te ayudaré con mucho gusto.</p>
          <br>
          <p><b>Teléfono:</b> 57+3105292788</p>
          <p><b>Horarios:</b> Lunes - Viernes: 8am - 5pm</p>
        </div>
      </div>
    </div>

{% endblock %}